#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: transparent;
}
.game-container{
  border: 3px solid #000;
  border-radius: 20px;
  padding: 10px;
  background: radial-gradient( rgb(67, 49, 71) 0%, rgb(49, 46, 86) );
  text-wrap: wrap;
}

.game-container h3{
  border: 2px solid #000;
  border-radius: 10px;
  background-color: rgba(167, 167, 206, 0.8);
  
}
.game-container h2{
  text-decoration: underline;
  width: 300px;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
  margin: auto;
}
.card {
  padding: 2em;
}
.correct:focus{
  background-color: green;
}
.incorrect:focus{
  background-color: red;
}
.ans-container  {
  max-width: 90%;
  margin: 20px;
  background-color: rgba(20, 20, 50, .8);
  border-radius: 20px;
  padding: 5px;
}
.ans-container li {
  margin: 5px;
  list-style: none;
  max-width: 100%;
}

.ans-container li button{
  background-color: rgb(20, 80, 150);
}


.score{
  font-family: 'Courier New', Courier, monospace;
  display: block;
  align-content: center;
  margin: 10px auto;
  padding: 0;
  width: 200px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 30px;
  background-color: #33ee;
}
.next{
  padding: 6px 60px;
  background-color: rgb(200, 200, 200);
}
.next:hover{
   animation: 3s darkness infinite;
}
@keyframes darkness {
  0%{
    background-color: rgb(200, 200, 200);
  }
  50%{
    background-color: rgb(60, 60, 60);
  }
  100%{
    background-color: rgb(200, 200, 200);
  }
}
@media (300px < width < 500px) {
  .game-container {
    max-width: 450px;
  }
}